<a
  *ngIf="!selected; else password"
  style="text-decoration: none"
  (click)="select()"
>
  <mat-card>
    <mat-card-title>{{ game.name }}</mat-card-title>
    <mat-card-subtitle>Creator: {{ game.creator }}</mat-card-subtitle>
  </mat-card>
</a>

<ng-template #password>
  <mat-card>
    <mat-card-title>{{ game.name }}</mat-card-title>
    <mat-card-subtitle>Creator: {{ game.creator }}</mat-card-subtitle>
    <mat-form-field appearance="outline">
        <mat-label>Password*</mat-label>
        <input
          matInput
          type="password"
          id="password"
          placeholder="Password"
          #box
          (keyup)="setPassword(box.value)"
          (keyup.enter)="onEnter()"
        />
      </mat-form-field>
      <button mat-button type="submit" color="primary" (click)="onEnter()">Join</button>
      <p style="color: red">{{errorMessage}}</p>
  </mat-card>
</ng-template>
